In [1]:
import pandas as pd

In [3]:
df = pd.read_json('StreamingHistory0.json')
df

,endTime,artistName,trackName,msPlayed
0,2020-07-18 02:06,Gilberto Gil,Andar Com Fé,194175
1,2020-07-18 02:07,Caetano Veloso,"Alegria, Alegria - Ao Vivo",928
2,2020-07-18 02:07,Caetano Veloso,Sozinho - Ao Vivo,476
3,2020-07-18 02:07,Gilberto Gil,Emoriô / Dia da Caça (Ao Vivo),45987
4,2020-07-18 02:07,Caetano Veloso,Reconvexo - Ao Vivo,3123
...,...,...,...,...
3833,2021-07-18 13:25,System Of A Down,Roulette,201179
3834,2021-07-18 13:30,System Of A Down,Holy Mountains,328866
3835,2021-07-18 13:35,System Of A Down,Protect The Land,307644
3836,2021-07-18 13:38,System Of A Down,Kill Rock 'n Roll,147958
3837,2021-07-18 13:50,System Of A Down,Innervision,105475

In [13]:
df['endTime'] = pd.to_datetime(df['endTime'])

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3838 entries, 0 to 3837
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   endTime     3838 non-null   datetime64[ns]
 1   artistName  3838 non-null   object
 2   trackName   3838 non-null   object
 3   msPlayed    3838 non-null   int64
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 120.1+ KB

In [5]:
df['artistName'].value_counts().head(15)

Carla Bruni           97
Caetano Veloso        97
Super Simple Songs    79
Los Hermanos          72
Blur                  48
Novos Baianos         44
The xx                42
Radiohead             38
The Kiboomers         36
Milky Chance          35
Paradis               35
John Mayer            34
Black Sea Dahu        30
System Of A Down      28
Fall Out Boy          27
Name: artistName, dtype: int64

In [6]:
df['trackName'].value_counts().head(15)

Feel Good Inc.                                                                  18
Dance Monkey                                                                    17
Loser                                                                           17
Blossom                                                                         16
Seven Nation Army                                                               16
CAN'T STOP THE FEELING! (Original Song from DreamWorks Animation's "TROLLS")    15
Party Freeze Dance Song                                                         15
Take Me Out                                                                     14
Californication                                                                 14
Sur Une Chanson En Français                                                     14
Coffee & TV                                                                     14
Toi Et Moi                                                                      14
Shake It Off                                                                    13
I'm Not Okay (I Promise)                                                        12
Uptown Funk (feat. Bruno Mars)                                                  12
Name: trackName, dtype: int64