In [63]:
import pandas as pd

In [67]:
df = pd.read_json('bases_historico/histórico-de-visualização.json')
df = df[['header', 'title', 'titleUrl', 'subtitles', 'time']]

In [69]:
df.dropna(inplace=True)
df.reset_index(inplace=True)

In [70]:
count = len(df)

channel_name = []

for i in range(count):
    channel_name.append(df['subtitles'][i][0]['name'])

df['channelName'] = channel_name

In [71]:
df.drop(columns=['index','header','titleUrl','subtitles'], inplace=True)

In [72]:
df['title'] = df['title'].str.replace('Watched', '')

In [73]:
df['channelName'].value_counts().head(15)

Vanessa Lino                         322
Curso em Vídeo                       132
Paula no Canadá                      112
Gabriela Turquetti                   101
Super Simple Songs - Kids Songs       85
Kylie Ross                            72
Holly Gabrielle                       60
Kurzgesagt – In a Nutshell            56
TÁ NA MESA VEGG                       56
Tuca Loretti                          55
Gabriel Arones - Fitness Flexível     52
Nath Araujo                           52
MasterChef Brasil                     51
Lu Ferreira                           50
Bruna Paula                           49
Name: channelName, dtype: int64

In [74]:
df['title'].value_counts().head(15)

 Hello! | Super Simple Songs                                                                     39
 Dua Lipa - New Rules (Official Music Video)                                                      9
 Lofi Brasil Rádio Mix | 2 Horas de Lofi Hip Hop BR [brazil songs playlist]                       9
 Wheels on the Bus | CoComelon Nursery Rhymes & Kids Songs                                        8
 Head Shoulders Knees & Toes (Speeding Up) | Nursery Rhyme | Super Simple Songs                   8
 Days of the Week Song | The Singing Walrus                                                       8
 Sean Kingston - Beautiful Girls                                                                  7
 Baby Shark Dance | #babyshark Most Viewed Video | Animal Songs | PINKFONG Songs for Children     7
 The Shape Song #1 | Super Simple Songs                                                           6
 If You're Happy and You Know It! | Barefoot Books Singalong                                      6
 See You Later, Alligator | Goodbye Song | Super Simple Songs                                     6
 Lily Allen | Smile (Official Video)                                                              5
 Dua Lipa - Hotter Than Hell (Official Video)                                                     5
 Tim Maia Lo Fi Mix - lofi hip hop Brasil [Rádio lofi BR]                                         5
 The Rise of the Machines – Why Automation is Different this Time                                 5
Name: title, dtype: int64

In [79]:
df.loc[df['channelName'] == 'Gabriela Turquetti']

,level_0,title,time,channelName
3186,3186,Escola Cresce - Creche 2 - 16/12,2020-12-16,Gabriela Turquetti
3292,3292,Escola Cresce - 4o ano - 07/12,2020-12-07,Gabriela Turquetti
3332,3332,Escola Cresce - Pré 2 - 11/11,2020-12-05,Gabriela Turquetti
3334,3334,Escola Cresce - 2o ano - 16/11,2020-12-04,Gabriela Turquetti
3335,3335,Escola Cresce - Creche 2 - 04/12,2020-12-04,Gabriela Turquetti
...,...,...,...,...
5078,5078,Escola Cresce - 4° ano - 15/07,2020-07-14,Gabriela Turquetti
5079,5079,Escola Cresce - 5° ano - 15/07,2020-07-14,Gabriela Turquetti
5080,5080,Escola Cresce - 2° ano - 15/07,2020-07-14,Gabriela Turquetti
5081,5081,Escola Cresce - 1º ano - 15/07,2020-07-14,Gabriela Turquetti
5082,5082,Escola Cresce - 3o ano - 15/07,2020-07-14,Gabriela Turquetti

In [76]:
date_list = []

for i in range(count):
    new_string = df['time'][i].split('T')
    date_list.append(new_string[0])

df['time'] = date_list

In [77]:
df['time'] = pd.to_datetime(df['time'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7826 entries, 0 to 7825
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   level_0      7826 non-null   int64
 1   title        7826 non-null   object
 2   time         7826 non-null   datetime64[ns]
 3   channelName  7826 non-null   object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 244.7+ KB

In [78]:
df

,level_0,title,time,channelName
0,0,What I Eat To Get Shredded (Grocery Haul For ...,2021-07-19,Jeff Nippard
1,1,Why You Shouldn't Eat Clean: How To Lose Fat ...,2021-07-19,Jeff Nippard
2,2,How To Tell If You're Training Hard Enough (U...,2021-07-19,Jeff Nippard
3,3,Refeeds & Diet Breaks: The Most Misunderstood...,2021-07-19,Jeff Nippard
4,4,A LEI DO ESFORÇO MÍNIMO - PAULO MUZY,2021-07-19,Cortes do Fisiculturismo
...,...,...,...,...
7821,7821,Hino geofísica - Geofísica UFF2010,2014-05-11,Nathalia Ladeira
7822,7822,Juramento dos Calouros - Geofisica UFF 2012,2014-05-11,trotegeofisicauff
7823,7823,Calouros no Trote de Geofisica UFF 2012!,2014-05-11,trotegeofisicauff
7824,7824,Blowin' In The Wind lyrics (Bob Dylan),2014-05-07,TayZ93P
7825,7825,"Antar Blue Band (Bob Dylan) - ""Like a Rolling...",2014-05-07,Antarblue