In [1]:
import pandas as pd

In [3]:
df = pd.read_json('historico_de_localizacao.json')

In [4]:
df

                                              locations
0     {'timestampMs': '1499723695000', 'latitudeE7':...
1     {'timestampMs': '1499723710000', 'latitudeE7':...
2     {'timestampMs': '1499723725000', 'latitudeE7':...
3     {'timestampMs': '1499723766000', 'latitudeE7':...
4     {'timestampMs': '1499723782000', 'latitudeE7':...
...                                                 ...
7542  {'timestampMs': '1626646342396', 'latitudeE7':...
7543  {'timestampMs': '1626646463972', 'latitudeE7':...
7544  {'timestampMs': '1626646586211', 'latitudeE7':...
7545  {'timestampMs': '1626646707321', 'latitudeE7':...
7546  {'timestampMs': '1626647948645', 'latitudeE7':...

[7547 rows x 1 columns]

In [10]:
contagem = len(df)

In [9]:
print(df['locations'][0]['timestampMs'])
print(df['locations'][0]['latitudeE7'])
print(df['locations'][0]['longitudeE7'])

1499723695000
-158435983
-479822967

In [11]:
time = []
latitude = []
longitude = []

for i in range(contagem):
    time.append(df['locations'][i]['timestampMs'])
    latitude.append(df['locations'][i]['latitudeE7'])
    longitude.append(df['locations'][i]['longitudeE7'])

In [13]:
df['time'] = time
df['latitude'] = latitude
df['longitude'] = longitude

In [14]:
df

,locations,time,latitude,longitude
0,"{'timestampMs': '1499723695000', 'latitudeE7':...",1499723695000,-158435983,-479822967
1,"{'timestampMs': '1499723710000', 'latitudeE7':...",1499723710000,-158447417,-479812533
2,"{'timestampMs': '1499723725000', 'latitudeE7':...",1499723725000,-158455183,-479802950
3,"{'timestampMs': '1499723766000', 'latitudeE7':...",1499723766000,-158467150,-479772617
4,"{'timestampMs': '1499723782000', 'latitudeE7':...",1499723782000,-158467950,-479768150
...,...,...,...,...
7542,"{'timestampMs': '1626646342396', 'latitudeE7':...",1626646342396,-158308384,-480578860
7543,"{'timestampMs': '1626646463972', 'latitudeE7':...",1626646463972,-158308245,-480578815
7544,"{'timestampMs': '1626646586211', 'latitudeE7':...",1626646586211,-158308439,-480578944
7545,"{'timestampMs': '1626646707321', 'latitudeE7':...",1626646707321,-158308106,-480579173
7546,"{'timestampMs': '1626647948645', 'latitudeE7':...",1626647948645,-158315051,-480519758

In [15]:
df.drop(columns='locations', inplace=True)

In [16]:
df

               time   latitude  longitude
0     1499723695000 -158435983 -479822967
1     1499723710000 -158447417 -479812533
2     1499723725000 -158455183 -479802950
3     1499723766000 -158467150 -479772617
4     1499723782000 -158467950 -479768150
...             ...        ...        ...
7542  1626646342396 -158308384 -480578860
7543  1626646463972 -158308245 -480578815
7544  1626646586211 -158308439 -480578944
7545  1626646707321 -158308106 -480579173
7546  1626647948645 -158315051 -480519758

[7547 rows x 3 columns]

In [19]:
df['time'] = pd.to_datetime(df['time'], unit="ms")

In [20]:
df

                        time   latitude  longitude
0    2017-07-10 21:54:55.000 -158435983 -479822967
1    2017-07-10 21:55:10.000 -158447417 -479812533
2    2017-07-10 21:55:25.000 -158455183 -479802950
3    2017-07-10 21:56:06.000 -158467150 -479772617
4    2017-07-10 21:56:22.000 -158467950 -479768150
...                      ...        ...        ...
7542 2021-07-18 22:12:22.396 -158308384 -480578860
7543 2021-07-18 22:14:23.972 -158308245 -480578815
7544 2021-07-18 22:16:26.211 -158308439 -480578944
7545 2021-07-18 22:18:27.321 -158308106 -480579173
7546 2021-07-18 22:39:08.645 -158315051 -480519758

[7547 rows x 3 columns]

In [21]:
df.to_csv('historico-localizacao-maps-ludmila.csv')